.container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NASAImage {
  position: relative;
  float: left;
  width: 9em;
  height: 12em;
  margin: 17px;
  border: 2px solid red;
  -webkit-transition: width 1.5s; /* Safari */
  transition: width 1.5s;
  border-radius: 50%;
}

.NASAImage:hover {
  width: 11em;
  border: 3px solid white;
  cursor: pointer;
  -webkit-transition: width 1.5s; /* Safari */
  transition: width 1.5s;
}

.btnNotMain {
  width: 100%;
  margin-bottom: 2em;
}
